*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}
.main{
   
    background: white;
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 3;
}
.fa{
    display: none;
}

.container{
    margin: 0 100px;

}
nav{
    margin-top: 10px;
}
.nav-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo-col{
    flex-basis: 30%;
}
.link-col{
    flex-basis: 50%;
}
.btn-col{
    flex-basis: 20%;
    
}
.btn-col button{
    margin-left: 50px;
}

.link-col ul li{
    display:inline-block ;
    list-style: none;
    padding: 0 12px;
}
.link-col ul li a{
    color: black;
    text-decoration: none;
}
.btn{
    background: linear-gradient(to right,rgb(86, 221, 86),rgb(40, 173, 239));
    padding: 12px 25px;
    border: none;
    outline: none;
    border-radius:20px;
    color: white;
    cursor: pointer;
}

/* introduction */
.intro{
    background: rgba(220, 219, 219, 0.546);
    width: 100%;
    height: 90vh;
    /* overflow: hidden; */
    

    
}
.info-row{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    
}
.text-col{
    flex-basis: 40%;
    margin-top: 170px;

}
.info-header h2,h3{
    font-size: 3.75rem;
    font-weight: 300;
    margin: 20px 0;
    

}

.info-par p{
    font-weight: 100;
    font-size: 14px;
    color: rgb(83, 81, 81);
    margin:0 0 20px ;
    line-height: 1.5;

}
.image-col{
    flex-basis: 60%;
    width: 100%;
    display: flex;
    overflow-y: hidden;

}

 .down-image  img{
    width:900px;
   
    position: absolute;
    top: -100px;
    right: -200px;
    z-index: 1;
     

}

.top-image img{
    width: 600px;
    position: absolute;
    top: -20px;
    right: -100px;
    z-index: 2;

}


/* About section */
.about{
    align-items: center;
    /* overflow: hidden; */
    background: rgba(203, 199, 199, 0.989);
    /* height: 120vh; */

}

h3{
    font-size:3rem ;
}
.about-row,.article-row{
    display: flex;
    align-items: left;
    justify-content: flex-start;
}
.about-col,.article-col{
    flex-basis: 25%;
    width: 100%;
    margin: 70px 10px;


}
.col-content img{
    margin: 20px 0;

}
.col-content h4{
    font-size: 2rem;
    font-weight: 300;
    margin: 40px 0 20px;
    width: 100%;
  

}
.col-content p{
    font-size: 14px;
    line-height: 1.5;
    color: rgb(83, 81, 81);
    width: 90%;

}
.article-col{
    background: white;
    padding-bottom: 2rem;
    
    
}
.article-col .col-content img{
    margin: 0 0 15px;
    width: 100%;
    /* height: 200px; */
}
.article-col .col-content .image1{
    height: 157px;

}
.small-container{
    margin: 0 8px;
}
.small-container h4{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 40px 0 20px;
    width: 100%;

}
.small-container p{
    font-size: 0.8125rem;
    line-height: 1.5;
    color: rgb(83, 81, 81);
    width: 90%;

}
.article{
    background: rgba(220, 219, 219, 0.546);
    /* margin: 10px 0 20px; */
    /* height: 150vh; */
    align-items: flex-start;
}
.footer{
    background: rgb(36, 6, 36);
    /* height: 40vh; */
    overflow: hidden;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:40px 100px;
}
.logo-col{
    flex-basis: 30%;
}

.social-logo{
    display: inline-block;
    margin: 20px 0 50px;
}
.social-logo img{
    width: 30px;
    margin: 0 4px;
  
}
.link-col2{
    flex-basis: 30%;
}
.foot-col a{
    text-decoration: none;
    color: white;
    line-height: 3;
    margin: auto 0;
}
.btn-col2{
    flex-basis: 40%;
    /* margin-left: 180px; */
    text-align: right;
    
}
.btn-col2 button{
    margin: 0 0 30px;
    align-items: right;
}

small{
    color: white;
    
}

@media(max-width:700px){
  .nav-row {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* z-index: -1; */
    

  }
  .logo-col{
    flex-basis: 50%;
  }
  .link-col{
    flex-basis: 50%;
  }
.btn-col{
    display: none;
} 
.link-col ul li{
    display:block ;
    list-style: none;
    padding: 0 12px;
    /* position: absolute; */
}
.info-row{
    display: block;
}
.text-col{
    flex-basis: 100%;
}
.image-col{
    display: none;
}
.info-header h2,h3{
    font-size: 3rem;
    font-weight: 300;
    margin: 20px 0;
    

}
.text-col{
    flex-basis: 40%;
    margin: 170px 20px 0;
    overflow: hidden;

}
.about-row,.article-row{
    display: block;
    /* align-items: center; */
    
}
.about-col,.article-col{
    flex-basis: 100%;
    width: 100%;
    margin: 70px 10px;}
    .footer-row{
        display: block;
        align-items: center;
        text-align: center;
        
        margin:40px 100px;
    }
    .btn-col2, .logo-col{
        flex-basis: 100%;
    }
    .link-col2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:5px 15px;
    }
    .foot-col{
        flex-basis: 50%;
    }
    .btn-col2 .btn{
        visibility: hidden;
    }
    .foot-col a{
        
        line-height: 2;
        margin: auto -2px;
        white-space:nowrap;
    }
    .btn-col2{
       
        /* margin-left: 180px; */
        text-align: center;
        
    }


.media-container{
    margin: 20px 15px;
}
    
}